In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score
import statsmodels.api as sm
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = pd.read_csv(r'C:\\Users\\prana\\Documents\\Python data\\MARTECH.csv')
data

,SN,Batch,Career track,Name,Registration No.,Attendance,Gender,Communication Ability,Interpersonal Effectiveness,Customer Focus,...,Percentage/CGPA,Under Graduation,CGPA,Work experience,Designation,Internship(Tenure),Internship(Designation),CT Quiz,CTPE Quiz,Tota
0,1,2023-25,MARTECH,Aman Kumar Choudhary,2023JULB01386,NaN,M,Y,Y,Y,...,63.00%,BACHELOR IN SCIENCE(BOTANY),6.80,NaN,NaN,NaN,NaN,12,2,14
1,2,2023-25,MARTECH,Divyanshu,2023JULB01331,NaN,M,G,G,Y,...,57.20%,BACHELOR OF BUSINESS ADMINISTRATION,7.64,NaN,NaN,NaN,NaN,13,6,19
2,3,2023-25,MARTECH,Shashank Vishwakarma,2023JULB01323,NaN,M,R,R,Y,...,80.80%,BACHELOR IN SCIENCE(HONS),6.60,12.0,Director,NaN,NaN,11,9,20
3,4,2023-25,MARTECH,Bishal Kumar Shaw,2023JULB01220,NaN,M,R,R,R,...,83.60%,BACHELOR OF COMMERCE(ACCOUNTS HONS.),7.63,NaN,NaN,NaN,NaN,13,8,21
4,5,2023-25,MARTECH,Amartya Majumder,2023JULB01052,NaN,M,Y,R,Y,...,58.00%,BACHELOR OF BUSINESS ADMINISTRATION,9.23,NaN,NaN,8.0,"DATA ANALYST INTERN,PM INTERN, SENIOR ACADEMIC...",10,7,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,63,2023-25,MARTECH,Shivam Chandra Shukla,2023JULB01368,NaN,M,Y,Y,G,...,70%,BACHELOR OF BUSINESS ADMINISTRATION,7.66,NaN,NaN,2.0,MARKETING INTERN,11,8,19
63,64,2023-25,MARTECH,Raina Paharia,2023JULB01363,NaN,F,Y,Y,Y,...,63.50%,BACHELOR OF PHARMACY,6.75,32.0,"CLINICAL PHARMACIST,ASSOCIATE PHARMACIST",2.0,PHARMACY INTERN,6,2,8
64,65,2023-25,MARTECH,Mukund Kumar Thakur,2023JULB01041,NaN,M,R,R,Y,...,60.00%,BACHELOR OF ARTS(SANSKRIT HONS),8.62,6.0,"SEO EXECUTIVE,SALES DEVELOPMENT EXECUTIVE",1.0,HR INTERN,11,10,21
65,66,2023-25,MARTECH,Bhumika Kaurav,2023JULB01211,NaN,F,G,G,Y,...,90.50%,BACHELOR OF COMMERCE HONS(MANAGEMENT),7.36,NaN,NaN,NaN,NaN,7,7,14
66,67,2023-25,MARTECH,Rahul Kalwani,2023JULB01390,NaN,M,Y,Y,Y,...,59.00%,BACHELOR OF BUSINESS ADMINISTRATION,7.62,5.0,OPERATIONS EXECUTIVE,10.0,SALES AND MARKETING INTERN,8,4,12

In [3]:
data = data.drop(columns=['Gender', 'Secondary School Stream', 'Career track', 'Batch', 'Name', 'Registration No.', 'Attendance', 'SN'])
data.head()

,Communication Ability,Interpersonal Effectiveness,Customer Focus,Problem Solving & Analytical Skills,Leadership Skils,Teamwork Orientation,Creativity Innovation,Percentage/CGPA,Under Graduation,CGPA,Work experience,Designation,Internship(Tenure),Internship(Designation),CT Quiz,CTPE Quiz,Tota
0,Y,Y,Y,Y,Y,R,R,63.00%,BACHELOR IN SCIENCE(BOTANY),6.80,NaN,NaN,NaN,NaN,12,2,14
1,G,G,Y,Y,Y,Y,Y,57.20%,BACHELOR OF BUSINESS ADMINISTRATION,7.64,NaN,NaN,NaN,NaN,13,6,19
2,R,R,Y,Y,R,Y,R,80.80%,BACHELOR IN SCIENCE(HONS),6.60,12.0,Director,NaN,NaN,11,9,20
3,R,R,R,Y,R,R,R,83.60%,BACHELOR OF COMMERCE(ACCOUNTS HONS.),7.63,NaN,NaN,NaN,NaN,13,8,21
4,Y,R,Y,Y,R,Y,R,58.00%,BACHELOR OF BUSINESS ADMINISTRATION,9.23,NaN,NaN,8.0,"DATA ANALYST INTERN,PM INTERN, SENIOR ACADEMIC...",10,7,17

In [4]:
data.isnull().sum()

Communication Ability                   1
Interpersonal Effectiveness             1
Customer Focus                          1
Problem Solving & Analytical Skills     1
Leadership Skils                        1
Teamwork Orientation                    1
Creativity Innovation                   1
Percentage/CGPA                         2
Under Graduation                        2
CGPA                                    2
Work experience                        52
Designation                            52
Internship(Tenure)                     51
Internship(Designation)                51
CT Quiz                                 0
CTPE Quiz                               0
Tota                                    0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
imputer_work_exp = SimpleImputer(strategy='most_frequent')
data['Designation'] = imputer_work_exp.fit_transform(data[['Designation']])

In [6]:
imputer_internship = SimpleImputer(strategy='constant', fill_value='NA')
data['Internship(Designation)'] = imputer_internship.fit_transform(data[['Internship(Designation)']])

In [7]:
data.isnull().sum()

Communication Ability                   1
Interpersonal Effectiveness             1
Customer Focus                          1
Problem Solving & Analytical Skills     1
Leadership Skils                        1
Teamwork Orientation                    1
Creativity Innovation                   1
Percentage/CGPA                         2
Under Graduation                        2
CGPA                                    2
Work experience                        52
Designation                             0
Internship(Tenure)                     51
Internship(Designation)                 0
CT Quiz                                 0
CTPE Quiz                               0
Tota                                    0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
imputer_work_exp = SimpleImputer(strategy='mean')
data['Work experience'] = imputer_work_exp.fit_transform(data[['Work experience']])

In [9]:
imputer_internship = SimpleImputer(strategy='mean')
data['Internship(Tenure)'] = imputer_internship.fit_transform(data[['Internship(Tenure)']])

In [10]:
data.isnull().sum()

Communication Ability                  1
Interpersonal Effectiveness            1
Customer Focus                         1
Problem Solving & Analytical Skills    1
Leadership Skils                       1
Teamwork Orientation                   1
Creativity Innovation                  1
Percentage/CGPA                        2
Under Graduation                       2
CGPA                                   2
Work experience                        0
Designation                            0
Internship(Tenure)                     0
Internship(Designation)                0
CT Quiz                                0
CTPE Quiz                              0
Tota                                   0
dtype: int64

In [11]:
data = data.dropna()

In [12]:
data.isnull().sum()

Communication Ability                  0
Interpersonal Effectiveness            0
Customer Focus                         0
Problem Solving & Analytical Skills    0
Leadership Skils                       0
Teamwork Orientation                   0
Creativity Innovation                  0
Percentage/CGPA                        0
Under Graduation                       0
CGPA                                   0
Work experience                        0
Designation                            0
Internship(Tenure)                     0
Internship(Designation)                0
CT Quiz                                0
CTPE Quiz                              0
Tota                                   0
dtype: int64

In [13]:
data = pd.get_dummies(data, columns=['Communication Ability','Interpersonal Effectiveness','Customer Focus','Problem Solving & Analytical Skills','Leadership Skils','Teamwork Orientation','Creativity Innovation','Under Graduation','Designation','Internship(Designation)'], drop_first=True)

In [14]:
X = data.drop(columns=['Tota'])
y = data['Tota']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [16]:
percentage_string = "Percentage/CGPA"  # Example of an invalid input

# Check if the string is a valid percentage format
if '%' in percentage_string:
    numeric_value = float(percentage_string.replace('%', ''))
    print(numeric_value)
else:
    print("The input string is not a valid percentage.")

The input string is not a valid percentage.

In [17]:
data = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(data)

# Remove the percentage sign and convert to float
data["Percentage/CGPA"] = data["Percentage/CGPA"].replace('%', '', regex=True).astype(float)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(data)

Original DataFrame:
   Percentage/CGPA  CGPA  Work experience  Internship(Tenure)  CT Quiz  \
0           63.00%  6.80        22.666667             5.59375       12
1           57.20%  7.64        22.666667             5.59375       13
2           80.80%  6.60        12.000000             5.59375       11
3           83.60%  7.63        22.666667             5.59375       13
4           58.00%  9.23        22.666667             8.00000       10
..             ...   ...              ...                 ...      ...
62             70%  7.66        22.666667             2.00000       11
63          63.50%  6.75        32.000000             2.00000        6
64          60.00%  8.62         6.000000             1.00000       11
65          90.50%  7.36        22.666667             5.59375        7
66          59.00%  7.62         5.000000            10.00000        8

    CTPE Quiz  Tota  Communication Ability_R  Communication Ability_Y  \
0           2    14                        0                        1
1           6    19                        0                        0
2           9    20                        1                        0
3           8    21                        1                        0
4           7    17                        0                        1
..        ...   ...                      ...                      ...
62          8    19                        0                        1
63          2     8                        0                        1
64         10    21                        1                        0
65          7    14                        0                        0
66          4    12                        0                        1

    Interpersonal Effectiveness_R  ...  \
0                               0  ...
1                               0  ...
2                               1  ...
3                               1  ...
4                               1  ...
..                            ...  ...
62                              0  ...
63                              0  ...
64                              1  ...
65                              0  ...
66                              0  ...

    Internship(Designation)_EVENT MANAGEMENT INTERN  \
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 0
..                                              ...
62                                                0
63                                                0
64                                                0
65                                                0
66                                                0

    Internship(Designation)_HR INTERN  Internship(Designation)_INTERN  \
0                                   0                               0
1                                   0                               0
2                                   0                               0
3                                   0                               0
4                                   0                               0
..                                ...                             ...
62                                  0                               0
63                                  0                               0
64                                  1                               0
65                                  0                               0
66                                  0                               0

    Internship(Designation)_MARKETING INTERN  Internship(Designation)_NA  \
0                                          0                           1
1                                          0                           1
2                                          0                           1
3                                          0                           1
4                                          0                           0
..                                       ...                         ...
62                                         1                           0
63                                         0                           0
64                                         0                           0
65                                         0                           1
66                                         0                           0

    Internship(Designation)_PHARMACY INTERN  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
62                                        0
63                                        1
64                                        0
65                                        0
66                                        0

    Internship(Designation)_PLACEMENT ADMIN  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
62                                        0
63                                        0
64                                        0
65                                        0
66                                        0

    Internship(Designation)_SALES AND MARKETING INTERN  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
..                                                ...
62                                                  0
63                                                  0
64                                                  0
65                                                  0
66                                                  1

    Internship(Designation)_SOCIAL MEDIA MARKETING INTERN,ML INTERN  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
..                                                ...
62                                                  0
63                                                  0
64                                                  0
65                                                  0
66                                                  0

    Internship(Designation)_SUPPLY CHAIN MANAGEMENT INTERN
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
..                                                ...
62                                                  0
63                                                  0
64                                                  0
65                                                  0
66                                                  0

[64 rows x 81 columns]

Updated DataFrame:
    Percentage/CGPA  CGPA  Work experience  Internship(Tenure)  CT Quiz  \
0              63.0  6.80        22.666667             5.59375       12
1              57.2  7.64        22.666667             5.59375       13
2              80.8  6.60        12.000000             5.59375       11
3              83.6  7.63        22.666667             5.59375       13
4              58.0  9.23        22.666667             8.00000       10
..              ...   ...              ...                 ...      ...
62             70.0  7.66        22.666667             2.00000       11
63             63.5  6.75        32.000000             2.00000        6
64             60.0  8.62         6.000000             1.00000       11
65             90.5  7.36        22.666667             5.59375        7
66             59.0  7.62         5.000000            10.00000        8

    CTPE Quiz  Tota  Communication Ability_R  Communication Ability_Y  \
0           2    14                        0                        1
1           6    19                        0                        0
2           9    20                        1                        0
3           8    21                        1                        0
4           7    17                        0                        1
..        ...   ...                      ...                      ...
62          8    19                        0                        1
63          2     8                        0                        1
64         10    21                        1                        0
65          7    14                        0                        0
66          4    12                        0                        1

    Interpersonal Effectiveness_R  ...  \
0                               0  ...
1                               0  ...
2                               1  ...
3                               1  ...
4                               1  ...
..                            ...  ...
62                              0  ...
63                              0  ...
64                              1  ...
65                              0  ...
66                              0  ...

    Internship(Designation)_EVENT MANAGEMENT INTERN  \
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 0
..                                              ...
62                                                0
63                                                0
64                                                0
65                                                0
66                                                0

    Internship(Designation)_HR INTERN  Internship(Designation)_INTERN  \
0                                   0                               0
1                                   0                               0
2                                   0                               0
3                                   0                               0
4                                   0                               0
..                                ...                             ...
62                                  0                               0
63                                  0                               0
64                                  1                               0
65                                  0                               0
66                                  0                               0

    Internship(Designation)_MARKETING INTERN  Internship(Designation)_NA  \
0                                          0                           1
1                                          0                           1
2                                          0                           1
3                                          0                           1
4                                          0                           0
..                                       ...                         ...
62                                         1                           0
63                                         0                           0
64                                         0                           0
65                                         0                           1
66                                         0                           0

    Internship(Designation)_PHARMACY INTERN  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
62                                        0
63                                        1
64                                        0
65                                        0
66                                        0

    Internship(Designation)_PLACEMENT ADMIN  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
62                                        0
63                                        0
64                                        0
65                                        0
66                                        0

    Internship(Designation)_SALES AND MARKETING INTERN  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
..                                                ...
62                                                  0
63                                                  0
64                                                  0
65                                                  0
66                                                  1

    Internship(Designation)_SOCIAL MEDIA MARKETING INTERN,ML INTERN  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
..                                                ...
62                                                  0
63                                                  0
64                                                  0
65                                                  0
66                                                  0

    Internship(Designation)_SUPPLY CHAIN MANAGEMENT INTERN
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
..                                                ...
62                                                  0
63                                                  0
64                                                  0
65                                                  0
66                                                  0

[64 rows x 81 columns]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 66
Data columns (total 81 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Percentage/CGPA                                                                            64 non-null     float64
 1   CGPA                                                                                       64 non-null     float64
 2   Work experience                                                                            64 non-null     float64
 3   Internship(Tenure)                                                                         64 non-null     float64
 4   CT Quiz                                                                                    64 non-null     int64
 5   CTPE Quiz                                                                                  64 non-null     int64
 6   Tota                                                                                       64 non-null     int64
 7   Communication Ability_R                                                                    64 non-null     uint8
 8   Communication Ability_Y                                                                    64 non-null     uint8
 9   Interpersonal Effectiveness_R                                                              64 non-null     uint8
 10  Interpersonal Effectiveness_Y                                                              64 non-null     uint8
 11  Customer Focus_R                                                                           64 non-null     uint8
 12  Customer Focus_Y                                                                           64 non-null     uint8
 13  Problem Solving & Analytical Skills_R                                                      64 non-null     uint8
 14  Problem Solving & Analytical Skills_Y                                                      64 non-null     uint8
 15  Leadership Skils_R                                                                         64 non-null     uint8
 16  Leadership Skils_Y                                                                         64 non-null     uint8
 17  Teamwork Orientation_R                                                                     64 non-null     uint8
 18  Teamwork Orientation_Y                                                                     64 non-null     uint8
 19  Creativity Innovation_R                                                                    64 non-null     uint8
 20  Creativity Innovation_Y                                                                    64 non-null     uint8
 21  Under Graduation_BACHELOR IN SCIENCE IN HOSPITALITY & HOTEL ADMINISTRATION                 64 non-null     uint8
 22  Under Graduation_BACHELOR IN SCIENCE(BOTANY)                                               64 non-null     uint8
 23  Under Graduation_BACHELOR IN SCIENCE(HONS)                                                 64 non-null     uint8
 24  Under Graduation_BACHELOR OF ARTS                                                          64 non-null     uint8
 25  Under Graduation_BACHELOR OF ARTS(ENGLISH)                                                 64 non-null     uint8
 26  Under Graduation_BACHELOR OF ARTS(SANSKRIT HONS)                                           64 non-null     uint8
 27  Under Graduation_BACHELOR OF ARTS(SOCIOLOGY HONS)                                          64 non-null     uint8
 28  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION                                       64 non-null     uint8
 29  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION(BBA HONS.)                            64 non-null     uint8
 30  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION(MARKETING & FINANCE)                  64 non-null     uint8
 31  Under Graduation_BACHELOR OF COMMERCE                                                      64 non-null     uint8
 32  Under Graduation_BACHELOR OF COMMERCE (TAXATION)                                           64 non-null     uint8
 33  Under Graduation_BACHELOR OF COMMERCE HONS(MANAGEMENT)                                     64 non-null     uint8
 34  Under Graduation_BACHELOR OF COMMERCE(ACCOUNTS HONS.)                                      64 non-null     uint8
 35  Under Graduation_BACHELOR OF COMMERCE(BUSINESS PROCESS SERVICE)                            64 non-null     uint8
 36  Under Graduation_BACHELOR OF COMMERCE(HONS.)                                               64 non-null     uint8
 37  Under Graduation_BACHELOR OF ENGINEERING                                                   64 non-null     uint8
 38  Under Graduation_BACHELOR OF JOURNALISM AND MASS COMMUNICATION                             64 non-null     uint8
 39  Under Graduation_BACHELOR OF MANAGEMENT STUDIES                                            64 non-null     uint8
 40  Under Graduation_BACHELOR OF PHARMACY                                                      64 non-null     uint8
 41  Under Graduation_BACHELOR OF SCIENCE                                                       64 non-null     uint8
 42  Under Graduation_BACHELOR OF SCIENCE IN HOTEL MANAGEMENT AND HOTEL ADMINISTRATION          64 non-null     uint8
 43  Under Graduation_BACHELOR OF SCIENCE IN MEDIA SCIENCE                                      64 non-null     uint8
 44  Under Graduation_BACHELOR OF SCIENCE(CHEMISTRY HONS.)                                      64 non-null     uint8
 45  Under Graduation_BACHELOR OF SCIENCE(MATH HONS)                                            64 non-null     uint8
 46  Under Graduation_BACHELOR OF SCIENCE(MICROBIOLOGY)                                         64 non-null     uint8
 47  Under Graduation_BACHELOR OF TECHNOLOGY                                                    64 non-null     uint8
 48  Under Graduation_BACHELOR OF TECHNOLOGY(CIVIL ENGINEERING)                                 64 non-null     uint8
 49  Under Graduation_BACHELOR OF TECHNOLOGY(CSE)                                               64 non-null     uint8
 50  Under Graduation_BACHELOR OF TECHNOLOGY(IT)                                                64 non-null     uint8
 51  Under Graduation_BACHELOR OF VOCATIONAL IN SALES AND MARKETING                             64 non-null     uint8
 52  Designation_CABIN CREW                                                                     64 non-null     uint8
 53  Designation_CLIENT SERVICE MANAGER                                                         64 non-null     uint8
 54  Designation_CLINICAL PHARMACIST,ASSOCIATE PHARMACIST                                       64 non-null     uint8
 55  Designation_CREATIVE HEAD                                                                  64 non-null     uint8
 56  Designation_Director                                                                       64 non-null     uint8
 57  Designation_FINANCIAL SERVICE CONSULTANT                                                   64 non-null     uint8
 58  Designation_GUEST SERVICE OFFICER                                                          64 non-null     uint8
 59  Designation_MARKETING CONSULTANT,CITY HEAD: BD                                             64 non-null     uint8
 60  Designation_OPERATIONS EXECUTIVE                                                           64 non-null     uint8
 61  Designation_SEO EXECUTIVE,SALES DEVELOPMENT EXECUTIVE                                      64 non-null     uint8
 62  Designation_SOCIAL MEDIA CONCIERGE,SOCIAL MEDIA SPECIALIST,INFLUENCER MARKETING EXECUTIVE  64 non-null     uint8
 63  Designation_SOCIAL MEDIA MANAGER                                                           64 non-null     uint8
 64  Designation_SOFTWARE DEVELOPER                                                             64 non-null     uint8
 65  Designation_TRAINEE ONLINE EDITOR,ONLINE COPY EDITOR                                       64 non-null     uint8
 66  Internship(Designation)_BDI,DATA OPERATOR                                                  64 non-null     uint8
 67  Internship(Designation)_BRAND MANAGEMENT INTERN                                            64 non-null     uint8
 68  Internship(Designation)_CUSTOMER CARE EXECUTIVE                                            64 non-null     uint8
 69  Internship(Designation)_DATA ANALYST INTERN,PM INTERN, SENIOR ACADEMIC EVALUATOR INTERN    64 non-null     uint8
 70  Internship(Designation)_DIGITAL MARKETING INTERN,PYTHON AND ML LEARNING INTERN             64 non-null     uint8
 71  Internship(Designation)_EVENT MANAGEMENT INTERN                                            64 non-null     uint8
 72  Internship(Designation)_HR INTERN                                                          64 non-null     uint8
 73  Internship(Designation)_INTERN                                                             64 non-null     uint8
 74  Internship(Designation)_MARKETING INTERN                                                   64 non-null     uint8
 75  Internship(Designation)_NA                                                                 64 non-null     uint8
 76  Internship(Designation)_PHARMACY INTERN                                                    64 non-null     uint8
 77  Internship(Designation)_PLACEMENT ADMIN                                                    64 non-null     uint8
 78  Internship(Designation)_SALES AND MARKETING INTERN                                         64 non-null     uint8
 79  Internship(Designation)_SOCIAL MEDIA MARKETING INTERN,ML INTERN                            64 non-null     uint8
 80  Internship(Designation)_SUPPLY CHAIN MANAGEMENT INTERN                                     64 non-null     uint8
dtypes: float64(4), int64(3), uint8(74)
memory usage: 8.6 KB

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 66
Data columns (total 81 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Percentage/CGPA                                                                            64 non-null     float64
 1   CGPA                                                                                       64 non-null     float64
 2   Work experience                                                                            64 non-null     float64
 3   Internship(Tenure)                                                                         64 non-null     float64
 4   CT Quiz                                                                                    64 non-null     int64
 5   CTPE Quiz                                                                                  64 non-null     int64
 6   Tota                                                                                       64 non-null     int64
 7   Communication Ability_R                                                                    64 non-null     uint8
 8   Communication Ability_Y                                                                    64 non-null     uint8
 9   Interpersonal Effectiveness_R                                                              64 non-null     uint8
 10  Interpersonal Effectiveness_Y                                                              64 non-null     uint8
 11  Customer Focus_R                                                                           64 non-null     uint8
 12  Customer Focus_Y                                                                           64 non-null     uint8
 13  Problem Solving & Analytical Skills_R                                                      64 non-null     uint8
 14  Problem Solving & Analytical Skills_Y                                                      64 non-null     uint8
 15  Leadership Skils_R                                                                         64 non-null     uint8
 16  Leadership Skils_Y                                                                         64 non-null     uint8
 17  Teamwork Orientation_R                                                                     64 non-null     uint8
 18  Teamwork Orientation_Y                                                                     64 non-null     uint8
 19  Creativity Innovation_R                                                                    64 non-null     uint8
 20  Creativity Innovation_Y                                                                    64 non-null     uint8
 21  Under Graduation_BACHELOR IN SCIENCE IN HOSPITALITY & HOTEL ADMINISTRATION                 64 non-null     uint8
 22  Under Graduation_BACHELOR IN SCIENCE(BOTANY)                                               64 non-null     uint8
 23  Under Graduation_BACHELOR IN SCIENCE(HONS)                                                 64 non-null     uint8
 24  Under Graduation_BACHELOR OF ARTS                                                          64 non-null     uint8
 25  Under Graduation_BACHELOR OF ARTS(ENGLISH)                                                 64 non-null     uint8
 26  Under Graduation_BACHELOR OF ARTS(SANSKRIT HONS)                                           64 non-null     uint8
 27  Under Graduation_BACHELOR OF ARTS(SOCIOLOGY HONS)                                          64 non-null     uint8
 28  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION                                       64 non-null     uint8
 29  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION(BBA HONS.)                            64 non-null     uint8
 30  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION(MARKETING & FINANCE)                  64 non-null     uint8
 31  Under Graduation_BACHELOR OF COMMERCE                                                      64 non-null     uint8
 32  Under Graduation_BACHELOR OF COMMERCE (TAXATION)                                           64 non-null     uint8
 33  Under Graduation_BACHELOR OF COMMERCE HONS(MANAGEMENT)                                     64 non-null     uint8
 34  Under Graduation_BACHELOR OF COMMERCE(ACCOUNTS HONS.)                                      64 non-null     uint8
 35  Under Graduation_BACHELOR OF COMMERCE(BUSINESS PROCESS SERVICE)                            64 non-null     uint8
 36  Under Graduation_BACHELOR OF COMMERCE(HONS.)                                               64 non-null     uint8
 37  Under Graduation_BACHELOR OF ENGINEERING                                                   64 non-null     uint8
 38  Under Graduation_BACHELOR OF JOURNALISM AND MASS COMMUNICATION                             64 non-null     uint8
 39  Under Graduation_BACHELOR OF MANAGEMENT STUDIES                                            64 non-null     uint8
 40  Under Graduation_BACHELOR OF PHARMACY                                                      64 non-null     uint8
 41  Under Graduation_BACHELOR OF SCIENCE                                                       64 non-null     uint8
 42  Under Graduation_BACHELOR OF SCIENCE IN HOTEL MANAGEMENT AND HOTEL ADMINISTRATION          64 non-null     uint8
 43  Under Graduation_BACHELOR OF SCIENCE IN MEDIA SCIENCE                                      64 non-null     uint8
 44  Under Graduation_BACHELOR OF SCIENCE(CHEMISTRY HONS.)                                      64 non-null     uint8
 45  Under Graduation_BACHELOR OF SCIENCE(MATH HONS)                                            64 non-null     uint8
 46  Under Graduation_BACHELOR OF SCIENCE(MICROBIOLOGY)                                         64 non-null     uint8
 47  Under Graduation_BACHELOR OF TECHNOLOGY                                                    64 non-null     uint8
 48  Under Graduation_BACHELOR OF TECHNOLOGY(CIVIL ENGINEERING)                                 64 non-null     uint8
 49  Under Graduation_BACHELOR OF TECHNOLOGY(CSE)                                               64 non-null     uint8
 50  Under Graduation_BACHELOR OF TECHNOLOGY(IT)                                                64 non-null     uint8
 51  Under Graduation_BACHELOR OF VOCATIONAL IN SALES AND MARKETING                             64 non-null     uint8
 52  Designation_CABIN CREW                                                                     64 non-null     uint8
 53  Designation_CLIENT SERVICE MANAGER                                                         64 non-null     uint8
 54  Designation_CLINICAL PHARMACIST,ASSOCIATE PHARMACIST                                       64 non-null     uint8
 55  Designation_CREATIVE HEAD                                                                  64 non-null     uint8
 56  Designation_Director                                                                       64 non-null     uint8
 57  Designation_FINANCIAL SERVICE CONSULTANT                                                   64 non-null     uint8
 58  Designation_GUEST SERVICE OFFICER                                                          64 non-null     uint8
 59  Designation_MARKETING CONSULTANT,CITY HEAD: BD                                             64 non-null     uint8
 60  Designation_OPERATIONS EXECUTIVE                                                           64 non-null     uint8
 61  Designation_SEO EXECUTIVE,SALES DEVELOPMENT EXECUTIVE                                      64 non-null     uint8
 62  Designation_SOCIAL MEDIA CONCIERGE,SOCIAL MEDIA SPECIALIST,INFLUENCER MARKETING EXECUTIVE  64 non-null     uint8
 63  Designation_SOCIAL MEDIA MANAGER                                                           64 non-null     uint8
 64  Designation_SOFTWARE DEVELOPER                                                             64 non-null     uint8
 65  Designation_TRAINEE ONLINE EDITOR,ONLINE COPY EDITOR                                       64 non-null     uint8
 66  Internship(Designation)_BDI,DATA OPERATOR                                                  64 non-null     uint8
 67  Internship(Designation)_BRAND MANAGEMENT INTERN                                            64 non-null     uint8
 68  Internship(Designation)_CUSTOMER CARE EXECUTIVE                                            64 non-null     uint8
 69  Internship(Designation)_DATA ANALYST INTERN,PM INTERN, SENIOR ACADEMIC EVALUATOR INTERN    64 non-null     uint8
 70  Internship(Designation)_DIGITAL MARKETING INTERN,PYTHON AND ML LEARNING INTERN             64 non-null     uint8
 71  Internship(Designation)_EVENT MANAGEMENT INTERN                                            64 non-null     uint8
 72  Internship(Designation)_HR INTERN                                                          64 non-null     uint8
 73  Internship(Designation)_INTERN                                                             64 non-null     uint8
 74  Internship(Designation)_MARKETING INTERN                                                   64 non-null     uint8
 75  Internship(Designation)_NA                                                                 64 non-null     uint8
 76  Internship(Designation)_PHARMACY INTERN                                                    64 non-null     uint8
 77  Internship(Designation)_PLACEMENT ADMIN                                                    64 non-null     uint8
 78  Internship(Designation)_SALES AND MARKETING INTERN                                         64 non-null     uint8
 79  Internship(Designation)_SOCIAL MEDIA MARKETING INTERN,ML INTERN                            64 non-null     uint8
 80  Internship(Designation)_SUPPLY CHAIN MANAGEMENT INTERN                                     64 non-null     uint8
dtypes: float64(4), int64(3), uint8(74)
memory usage: 8.6 KB

In [22]:
data['CGPA'] = data['CGPA'].round().astype(int)
data['Work experience'] = data['Work experience'].round().astype(int)
data['Percentage/CGPA'] = data['Percentage/CGPA'].round().astype(int)
data['Internship(Tenure)'] = data['Internship(Tenure)'].round().astype(int)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 66
Data columns (total 81 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Percentage/CGPA                                                                            64 non-null     int32
 1   CGPA                                                                                       64 non-null     int32
 2   Work experience                                                                            64 non-null     int32
 3   Internship(Tenure)                                                                         64 non-null     int32
 4   CT Quiz                                                                                    64 non-null     int64
 5   CTPE Quiz                                                                                  64 non-null     int64
 6   Tota                                                                                       64 non-null     int64
 7   Communication Ability_R                                                                    64 non-null     uint8
 8   Communication Ability_Y                                                                    64 non-null     uint8
 9   Interpersonal Effectiveness_R                                                              64 non-null     uint8
 10  Interpersonal Effectiveness_Y                                                              64 non-null     uint8
 11  Customer Focus_R                                                                           64 non-null     uint8
 12  Customer Focus_Y                                                                           64 non-null     uint8
 13  Problem Solving & Analytical Skills_R                                                      64 non-null     uint8
 14  Problem Solving & Analytical Skills_Y                                                      64 non-null     uint8
 15  Leadership Skils_R                                                                         64 non-null     uint8
 16  Leadership Skils_Y                                                                         64 non-null     uint8
 17  Teamwork Orientation_R                                                                     64 non-null     uint8
 18  Teamwork Orientation_Y                                                                     64 non-null     uint8
 19  Creativity Innovation_R                                                                    64 non-null     uint8
 20  Creativity Innovation_Y                                                                    64 non-null     uint8
 21  Under Graduation_BACHELOR IN SCIENCE IN HOSPITALITY & HOTEL ADMINISTRATION                 64 non-null     uint8
 22  Under Graduation_BACHELOR IN SCIENCE(BOTANY)                                               64 non-null     uint8
 23  Under Graduation_BACHELOR IN SCIENCE(HONS)                                                 64 non-null     uint8
 24  Under Graduation_BACHELOR OF ARTS                                                          64 non-null     uint8
 25  Under Graduation_BACHELOR OF ARTS(ENGLISH)                                                 64 non-null     uint8
 26  Under Graduation_BACHELOR OF ARTS(SANSKRIT HONS)                                           64 non-null     uint8
 27  Under Graduation_BACHELOR OF ARTS(SOCIOLOGY HONS)                                          64 non-null     uint8
 28  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION                                       64 non-null     uint8
 29  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION(BBA HONS.)                            64 non-null     uint8
 30  Under Graduation_BACHELOR OF BUSINESS ADMINISTRATION(MARKETING & FINANCE)                  64 non-null     uint8
 31  Under Graduation_BACHELOR OF COMMERCE                                                      64 non-null     uint8
 32  Under Graduation_BACHELOR OF COMMERCE (TAXATION)                                           64 non-null     uint8
 33  Under Graduation_BACHELOR OF COMMERCE HONS(MANAGEMENT)                                     64 non-null     uint8
 34  Under Graduation_BACHELOR OF COMMERCE(ACCOUNTS HONS.)                                      64 non-null     uint8
 35  Under Graduation_BACHELOR OF COMMERCE(BUSINESS PROCESS SERVICE)                            64 non-null     uint8
 36  Under Graduation_BACHELOR OF COMMERCE(HONS.)                                               64 non-null     uint8
 37  Under Graduation_BACHELOR OF ENGINEERING                                                   64 non-null     uint8
 38  Under Graduation_BACHELOR OF JOURNALISM AND MASS COMMUNICATION                             64 non-null     uint8
 39  Under Graduation_BACHELOR OF MANAGEMENT STUDIES                                            64 non-null     uint8
 40  Under Graduation_BACHELOR OF PHARMACY                                                      64 non-null     uint8
 41  Under Graduation_BACHELOR OF SCIENCE                                                       64 non-null     uint8
 42  Under Graduation_BACHELOR OF SCIENCE IN HOTEL MANAGEMENT AND HOTEL ADMINISTRATION          64 non-null     uint8
 43  Under Graduation_BACHELOR OF SCIENCE IN MEDIA SCIENCE                                      64 non-null     uint8
 44  Under Graduation_BACHELOR OF SCIENCE(CHEMISTRY HONS.)                                      64 non-null     uint8
 45  Under Graduation_BACHELOR OF SCIENCE(MATH HONS)                                            64 non-null     uint8
 46  Under Graduation_BACHELOR OF SCIENCE(MICROBIOLOGY)                                         64 non-null     uint8
 47  Under Graduation_BACHELOR OF TECHNOLOGY                                                    64 non-null     uint8
 48  Under Graduation_BACHELOR OF TECHNOLOGY(CIVIL ENGINEERING)                                 64 non-null     uint8
 49  Under Graduation_BACHELOR OF TECHNOLOGY(CSE)                                               64 non-null     uint8
 50  Under Graduation_BACHELOR OF TECHNOLOGY(IT)                                                64 non-null     uint8
 51  Under Graduation_BACHELOR OF VOCATIONAL IN SALES AND MARKETING                             64 non-null     uint8
 52  Designation_CABIN CREW                                                                     64 non-null     uint8
 53  Designation_CLIENT SERVICE MANAGER                                                         64 non-null     uint8
 54  Designation_CLINICAL PHARMACIST,ASSOCIATE PHARMACIST                                       64 non-null     uint8
 55  Designation_CREATIVE HEAD                                                                  64 non-null     uint8
 56  Designation_Director                                                                       64 non-null     uint8
 57  Designation_FINANCIAL SERVICE CONSULTANT                                                   64 non-null     uint8
 58  Designation_GUEST SERVICE OFFICER                                                          64 non-null     uint8
 59  Designation_MARKETING CONSULTANT,CITY HEAD: BD                                             64 non-null     uint8
 60  Designation_OPERATIONS EXECUTIVE                                                           64 non-null     uint8
 61  Designation_SEO EXECUTIVE,SALES DEVELOPMENT EXECUTIVE                                      64 non-null     uint8
 62  Designation_SOCIAL MEDIA CONCIERGE,SOCIAL MEDIA SPECIALIST,INFLUENCER MARKETING EXECUTIVE  64 non-null     uint8
 63  Designation_SOCIAL MEDIA MANAGER                                                           64 non-null     uint8
 64  Designation_SOFTWARE DEVELOPER                                                             64 non-null     uint8
 65  Designation_TRAINEE ONLINE EDITOR,ONLINE COPY EDITOR                                       64 non-null     uint8
 66  Internship(Designation)_BDI,DATA OPERATOR                                                  64 non-null     uint8
 67  Internship(Designation)_BRAND MANAGEMENT INTERN                                            64 non-null     uint8
 68  Internship(Designation)_CUSTOMER CARE EXECUTIVE                                            64 non-null     uint8
 69  Internship(Designation)_DATA ANALYST INTERN,PM INTERN, SENIOR ACADEMIC EVALUATOR INTERN    64 non-null     uint8
 70  Internship(Designation)_DIGITAL MARKETING INTERN,PYTHON AND ML LEARNING INTERN             64 non-null     uint8
 71  Internship(Designation)_EVENT MANAGEMENT INTERN                                            64 non-null     uint8
 72  Internship(Designation)_HR INTERN                                                          64 non-null     uint8
 73  Internship(Designation)_INTERN                                                             64 non-null     uint8
 74  Internship(Designation)_MARKETING INTERN                                                   64 non-null     uint8
 75  Internship(Designation)_NA                                                                 64 non-null     uint8
 76  Internship(Designation)_PHARMACY INTERN                                                    64 non-null     uint8
 77  Internship(Designation)_PLACEMENT ADMIN                                                    64 non-null     uint8
 78  Internship(Designation)_SALES AND MARKETING INTERN                                         64 non-null     uint8
 79  Internship(Designation)_SOCIAL MEDIA MARKETING INTERN,ML INTERN                            64 non-null     uint8
 80  Internship(Designation)_SUPPLY CHAIN MANAGEMENT INTERN                                     64 non-null     uint8
dtypes: int32(4), int64(3), uint8(74)
memory usage: 7.6 KB