<a href="https://colab.research.google.com/github/Pranayshukla0610/ML-projects-portfolio/blob/main/Walmart_Sales_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
stores = pd.read_csv('/content/stores.csv')
feature = pd.read_csv('/content/features.csv')

In [4]:
print(train.head())
print(test.head())
print(feature.head())
print(stores.head())

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False
   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False
   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [6]:
df = pd.merge(train,feature, on=['Store','Date','IsHoliday'],how='left')
df = pd.merge(df,stores, on=['Store'],how='left')
df

        Store  Dept        Date  ...  Unemployment  Type    Size
0           1     1  2010-02-05  ...         8.106     A  151315
1           1     1  2010-02-12  ...         8.106     A  151315
2           1     1  2010-02-19  ...         8.106     A  151315
3           1     1  2010-02-26  ...         8.106     A  151315
4           1     1  2010-03-05  ...         8.106     A  151315
...       ...   ...         ...  ...           ...   ...     ...
421565     45    98  2012-09-28  ...         8.684     B  118221
421566     45    98  2012-10-05  ...         8.667     B  118221
421567     45    98  2012-10-12  ...         8.667     B  118221
421568     45    98  2012-10-19  ...         8.667     B  118221
421569     45    98  2012-10-26  ...         8.667     B  118221

[421570 rows x 16 columns]

In [7]:
df.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
Type                 0
Size                 0
dtype: int64

In [8]:
numeric_cols = ['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']
df[numeric_cols] = df[numeric_cols].fillna(method='ffill')
df

        Store  Dept        Date  ...  Unemployment  Type    Size
0           1     1  2010-02-05  ...         8.106     A  151315
1           1     1  2010-02-12  ...         8.106     A  151315
2           1     1  2010-02-19  ...         8.106     A  151315
3           1     1  2010-02-26  ...         8.106     A  151315
4           1     1  2010-03-05  ...         8.106     A  151315
...       ...   ...         ...  ...           ...   ...     ...
421565     45    98  2012-09-28  ...         8.684     B  118221
421566     45    98  2012-10-05  ...         8.667     B  118221
421567     45    98  2012-10-12  ...         8.667     B  118221
421568     45    98  2012-10-19  ...         8.667     B  118221
421569     45    98  2012-10-26  ...         8.667     B  118221

[421570 rows x 16 columns]

In [9]:
df = df.sort_values(by=['Store','Dept','Date'])
df['lag1'] = df.groupby(['Store','Dept'])['Weekly_Sales'].shift(1)
df['lag7'] = df.groupby(['Store','Dept'])['Weekly_Sales'].shift(7)

In [10]:
df['rolling_4'] = df.groupby(['Store','Dept'])['Weekly_Sales'].shift(1).rolling(window=4).mean()
df['rolling_12'] = df.groupby(['Store','Dept'])['Weekly_Sales'].shift(1).rolling(window=12).mean()

In [11]:
df = pd.get_dummies(df, columns=['Type'], drop_first=True)

In [12]:
df.dropna(inplace=True)

In [13]:
# Sort by date
df = df.sort_values('Date')

# Example: last 10% as test
split_idx = int(len(df) * 0.9)
train_df = df[:split_idx]
test_df = df[split_idx:]

X_train = train_df.drop(['Weekly_Sales','Date'], axis=1)
y_train = train_df['Weekly_Sales']

X_test = test_df.drop(['Weekly_Sales','Date'], axis=1)
y_test = test_df['Weekly_Sales']

In [14]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

In [15]:
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("R² Score:", r2)
print("RMSE:", rmse)

R² Score: 0.9769866941017893
RMSE: 3333.2044360986356

In [16]:
coef_df = pd.DataFrame({
    'Feature': X_train.columns,
    'Coefficient': lr.coef_
}).sort_values(by='Coefficient', ascending=False)

print(coef_df)

         Feature  Coefficient
2      IsHoliday   238.025603
18        Type_C    95.322044
1           Dept     2.178644
15     rolling_4     0.459628
13          lag1     0.294686
16    rolling_12     0.256461
7      MarkDown3     0.088740
10           CPI     0.080326
8      MarkDown4     0.031482
5      MarkDown1     0.010725
12          Size     0.001337
9      MarkDown5    -0.007151
14          lag7    -0.025685
6      MarkDown2    -0.128370
0          Store    -1.918725
3    Temperature    -2.653514
11  Unemployment    -9.632548
4     Fuel_Price   -24.653460
17        Type_B   -55.231225